@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.editor_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid gray;
}

h1 {
  color: red;
}
